<a href="https://colab.research.google.com/github/MarceloClash/PythonHasteg/blob/main/lista_tratamento.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tratamento de entrada de dados

In [9]:
idade_str = input('Digite sua idade: ')
nome = input('Digite seu nome: ')

if nome.strip():
  if nome.isalpha():
    if idade_str.isdigit():
      idade = int(idade_str)
      print('Olá {} tudo bem, \nficamos felizes pelo seu cadastro.\nVocê tem {} anos de idade' .format(nome, idade))
    else:
      print('Digite uma idade válida! ')
  else:
    print('Digite um nome válido! ')
print('\nObrigado pelas sua informações')

Digite sua idade: 41
Digite seu nome: Marcelo
Olá Marcelo tudo bem,
ficamos felizes pelo seu cadastro.
Você tem 41 anos de idade

Obrigado pelas sua informações

#1. Faturamento do melhor e do pior mês do ano
Qual foi o valor do melhor mês do ano? E valor do pior mês do ano?

In [90]:
meses = ['jan', 'fev', 'mar', 'abr', 'mai', 'jun', 'jul', 'ago', 'set', 'out', 'nov', 'dez']
vendas_1sem = [25000, 29000, 22200, 17750, 15870, 19900]
vendas_2sem = [19850, 20120, 17540, 15555, 49051, 9650]


vendas_1sem.extend(vendas_2sem)
print(vendas_1sem)
maior_valor = max(vendas_1sem)
menor_valor = min(vendas_1sem)
print(maior_valor)
print(menor_valor)

[25000, 29000, 22200, 17750, 15870, 19900, 19850, 20120, 17540, 15555, 49051, 9650]
49051
9650

#2.Continuação
Agora relacione as duas listas para printar o melhor mês do ano e o pior do ano.<br>
Calcule também o faturamento total do ano e quanto  que o melhor mês representou do faturameto total.<br>
obs: Para o faturamento total, pode usar a função sum(lista) que soma todos os itens de uma lista

In [68]:
i_maior_valor = vendas_1sem.index(maior_valor)
i_menor_valor = vendas_1sem.index(menor_valor)

print('O melhor mês do ano foi {} com {} vendas.' .format(meses[i_maior_valor], maior_valor))
print('O pior mês do ano foi {} com {} vendas.' .format(meses[i_menor_valor], menor_valor))

O melhor mês do ano foi nov com 49051 vendas.
O pior mês do ano foi dez com 9650 vendas.

In [69]:
faturamento_total = sum(vendas_1sem)
print('O faturamento total do ano foi de R${:,}' .format(faturamento_total))

percentual = maior_valor / faturamento_total
print('O melhor mês representou {:.1%} do faturamento total do ano.' .format(percentual))

O faturamento total do ano foi de R$261,486
O melhor mês representou 18.8% do faturamento total do ano.

#3. Crie uma lista com o top 3 valores de vendas do ano (sem fazer 'no ollho')

In [91]:
top3 = []
print(vendas_1sem)
maior_valor = max(vendas_1sem)
top3.append(maior_valor)

vendas_1sem.remove(maior_valor)
print(vendas_1sem)
maior_valor = max(vendas_1sem)
print(maior_valor)
top3.append(maior_valor)
vendas_1sem.remove(maior_valor)
print(vendas_1sem)
maior_valor = max(vendas_1sem)
top3.append(maior_valor)
print(top3)

[25000, 29000, 22200, 17750, 15870, 19900, 19850, 20120, 17540, 15555, 49051, 9650]
[25000, 29000, 22200, 17750, 15870, 19900, 19850, 20120, 17540, 15555, 9650]
29000
[25000, 22200, 17750, 15870, 19900, 19850, 20120, 17540, 15555, 9650]
[49051, 29000, 25000]